.login {
	@include flex(center, space-between);
	width: 100vw;
	height: 100vh;

	&__image {
		width: 45%;
		min-width: 240px;
		object-fit: cover;

		height: calc(100% - 30px);
		margin: 15px;

		@include tablet {
			height: calc(100% - 20px);
			margin: 10px;
		}

		@include mobile {
			width: 0;
			min-width: 0;
			margin: 0;
		}
	}

	&__content {
		@include flex(flex-start, space-between, column);

		width: 35%;
		height: 80%;
		min-width: 360px;
		margin: auto 10%;

		@include tablet {
			width: 40%;
			margin: 0 10%;
		}

		@include mobile {
			width: 94%;
			min-width: 94%;
			height: 70%;
			margin: 0 3%;
		}

		&__title {
			margin-bottom: auto;

			h3 {
				font-size: $large_fs;
				font-weight: 500;
				letter-spacing: 0.0125rem;
				line-height: 2.125rem;
				margin-bottom: 1.25rem;
			}

			p {
				letter-spacing: 0.0275rem;
				line-height: 1.5rem;

				a {
					font-weight: 500;
				}
			}
		}

		&__form {
			margin-bottom: auto;
			width: 100%;

			a {
				width: 90%;
				text-align: center;
				display: block;
				margin-top: 1.25rem;
				letter-spacing: 0.0275rem;
				line-height: 1.5rem;
			}
		}

		&__buttons {
			margin-bottom: auto;
			width: 100%;

			button {
				display: block;
				width: 90%;
			}

			button ~ button {
				margin-top: 1.25rem;
			}
		}
	}
}
