// Font sizes
$small_fs: 0.5rem;
$semi_medium_fs: 0.8rem;
$medium_fs: 1rem;
$semi_large_fs: 1.1rem;
$large_fs: 1.5rem;

// Text Colors
$primary_text_color: #000000;
$secondary_text_color: #ffffff;

// Background Colors
$primary_bg_color: #ffffff;
$secondary_bg_color: #222222;
$tertiary_bg_color: #f8f8f8;

// Responsive width
$mobile_width: 700px;
$tablet_width: 1024px;

// Grid Numbers
$grid_numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);

// Constants
$height_exclude_container: calc(100vh - 30px);
$height_exclude_container_tablet: calc(100vh - 20px);
$height_exclude_container_mobile: 100vh;

$width_exclude_container: calc(100vw - 30px);
$width_exclude_container_tablet: calc(100vw - 20px);
$width_exclude_container_mobile: 100vw;
